.chessboard {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  margin: 20px auto;
}

.row {
  display: flex;
}

.square {
  flex: 1;
  height: 50px; 
}

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}


.button {
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #45a049;
}

.button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
